.main {
  margin: 20px 200px auto 200px;
}

.main__title {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
}

.main__forms {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.main__content {
  margin: 20px 0;
}

.main__forms-item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.main__forms-item-input {
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;

  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  cursor: pointer;
  line-height: 1.1;

  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.main__forms-item-button {
  background-color: #ffffff;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-size: 0.875rem;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  line-height: 0.5rem;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  height: 28px;
}

.main__forms-item-button:hover:enabled {
  background-color: rgb(249, 250, 251);
}

.main__forms-item-button:disabled {
  opacity: 0.3;
  pointer-events: none;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .main__forms-item {
    flex-direction: column;
  }
}

@media screen and (max-width: 1024px) {
  .main__forms-item {
    flex-direction: column;
  }
  .main__forms {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .main__forms-item-input {
    width: 50vw;
  }

  .main {
    margin: auto 50px;
  }

  .main__title {
    font-size: 1rem;
  }
}
