.navigation {
  display: flex;
  margin: 0 200px;
  border-bottom: 1px solid #ccc;
}

.navigation__menu {
  display: flex;
  align-self: center;
  margin-left: auto;
}

.navigation__menu-item {
  margin-left: 50px;
  text-decoration: none;
  color: #fff;
}

.navigation__menu-item:hover {
  color: #aaa;
}

@media screen and (min-width: 740px) and (max-width: 1024px) {
  .navigation {
    margin: 0 50px;
  }
}

@media screen and (max-width: 740px) {
  .navigation {
    flex-direction: column;
    margin: 0 50px;
  }

  .navigation__menu {
    display: flex;
    align-self: center;
    margin: 0 auto;
    gap: 50px;
  }

  .navigation__menu-item {
    margin-left: 0;
  }
}
