.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header__img {
  fill: white;
  height: 5vh;
}
.header__title {
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
}

@media screen and (min-width: 740px) and (max-width: 1024px) {
  .header__title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 740px) {
  .header__title {
    font-size: 1.2rem;
  }
}
